@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: 'Winky Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
}

.left, .middle, .right {
  padding: 20px;
  overflow-y: auto;
  transition: all 0.3s ease;
  opacity: 1;
}

.left {
  width: 20%;
  border-right: 1px solid #ddd;
}

.middle {
  width: 40%;
  border-right: 1px solid #ddd;
}

.right {
  width: 40%;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.category-item, .product-item {
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

.category-item:hover, .product-item:hover {
  background-color: #c0c0c0;
}

#product-details {
  padding: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #388E3C;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

form {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

form h4 {
  margin-top: 0;
}

form label {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
}
  
form input,
form select,
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-family: inherit;
}

form textarea {
  resize: vertical;
  min-height: 60px;
}

#order-result {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #f1fdf4;
  border-left: 4px solid #4CAF50;
  border-radius: 4px;
}
#order-result:empty {
  display: none;
}
#order-section {
  margin-top: 20px;
}

#my-orders-btn {
  display: block;
  margin: 25px 0px 20px 0px;
  padding: 8px 16px;
  font-size: 18px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#my-orders-btn:hover {
  background-color: #115293;
}

#orders-list-wrapper ul {
  margin-top: 15px;
  padding-left: 0;
  list-style-type: none;
}

.order-item {
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 10px;
}

.order-header {
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.delete-order {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-order:hover {
  background-color: #c62828;
}
